button[id = "btnsubmit"]
{
		height: 30px;
		width: 80px;
		font-family: comic sans ms; 
		font-size: 100%;
}
label
{
		font-family: comic sans ms; 
		font-size: 100%;
		color: black;
}
input
{
		font-family: comic sans ms; 
		font-size: 95%; 
		color: black;
}
body 
{
		background-color: #8080ff;
}
